name: Update README Stats

on:
  schedule:
    - cron: '*/5 * * * *'  # Executa a cada 5 minutos (apenas para teste)
  workflow_dispatch:  # Permite execução manual

jobs:
  update:
    runs-on: ubuntu-latest

    permissions:
      contents: write  # Garante permissão para fazer push

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Generate random number
      id: random
      run: echo "RANDOM_NUMBER=$(date +%s)" >> $GITHUB_ENV

    - name: Update README with new random parameter
      run: |
        sed -i "s/&random=[0-9]*/&random=$RANDOM_NUMBER/g" README.md

    - name: Commit and push changes
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add README.md
        git commit -m "Update README stats with new random parameter"
        git pull --rebase  # Atualiza o branch local com as alterações remotas
        git push